.allCont {
  /* margin-top: 1rem; */
}

.container {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  overflow-y: scroll;
  border-radius: 20px;
}

.arrow {
  width: 20%;
  transform: translate(47%, 40%);
}

.icons {
  font-size: 13px;
  margin-right: 0.3rem;
}

.text {
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.5;
}

.wrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  border-radius: 10px;
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
  background-color: rgb(245, 245, 253);
}

.image {
  width: 30%;
  height: 50%;
  min-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.img {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
}

.img img {
  width: 100%;
  border: 5px solid rgb(48, 187, 181);
}

.contentWrapper {
  display: grid;
  width: 60%;
  min-width: 130px;
  height: 80%;
  grid-gap: 5px;
}

.usernames {
  width: 100%;
  min-width: max-content;
  display: flex;
  align-items: center;
}

.usernames h3 span {
  padding-right: 5px;
}

.usernames p span {
  font-weight: lighter;
  opacity: 0.5;
}

.userAddress {
  margin-bottom: 1rem;
}

.userAddress address {
  font-size: 12px;
  opacity: 0.5;
}

.userEmail {
  width: 80%;
  min-width: 170px;
  padding: 2%;
  background-color: rgb(226, 227, 236);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.userEmail span {
  font-size: 10px;
  opacity: 0.5;
}

.userEmail address {
  font-size: 10px;
  opacity: 0.5;
}

.regisDate {
  width: 50%;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247 217 242);
  border-radius: 30px;
  margin-bottom: 1rem;
}

.regisDate span {
  font-size: 10px;
  padding: 2%;
  text-transform: capitalize;
}

.cellPhone {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.cellPhone span {
  font-size: 10px;
  opacity: 0.4;
}

.mobPhone {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.mobPhone span {
  font-size: 10px;
  opacity: 0.4;
}
