.container {
  width: 50%;
  min-width: 350px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 80%;
  min-width: 350px;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
