.container {
  width: 80%;
  min-width: 300px;
  margin-top: 1rem;
  height: 15%;
  display: flex;
  align-items: center;
  padding: 2%;
}

.input {
  width: 35vw;
  min-width: 300px;
  height: 3rem;
  border-radius: 15px;
  padding: 25px;
  background-color: rgb(60, 63, 84);
  border: none;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.input::placeholder {
  padding: 10%;
  font-size: 15px;
  color: #ccc;
}

.icon {
  position: absolute;
  left: 9%;
  top: 58%;
}
