.container {
  height: 15%;
  display: flex;
  align-items: center;
  padding: 2%;
}

.input {
  height: 3rem;
  border-radius: 15px;
  padding: 25px;
  border: none;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.input::placeholder {
  padding-left: 10%;
  font-size: 15px;
  color: #ccc;
}

.icon {
  transform: translate(100%, -2rem);
}
