.container {
  width: 50%;
  min-width: 350px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  min-width: 380px;
  height: 95%;
  margin-right: 20px;
  background-color: rgb(245, 245, 253);
  border-radius: 20px;
}

.belowButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.belowWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download {
  width: 23%;
  min-width: 8em;
  height: 2rem;
  transform: translateX(20%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}

.download span {
  font-size: 12px;
  color: #fff;
  margin-right: 0.5rem;
  text-transform: capitalize;
}

.download a {
  color: #fff;
  text-decoration: none;
}

.button {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 60%;
  height: 1.5rem;
  border-radius: 5px;
}

.btn button {
  outline: none;
  border: none;
}
